{% extends 'base.html' %} 

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Readings</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <!--<div class="col-xl-3 col-md-6 mb-4">-->
        <!--<div class="card border-left-primary shadow h-100 py-2">-->
            {% for listing in listings %}
            <div class="column">
            <a href="{% url 'accounts:drag_and_drop_upload' listing.id %}">
            
            <div class="card shadow py-2">
            <div class="reading-card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ listing.title }}</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
            </div>
            </div>
            </div>
            </a>
            </div>
            {% endfor %}


        <!--</div>-->
        <div class="column">
        <div class="card shadow py-2">
        <div class="reading-card-body">
        <div class="row no-gutters align-items-center">
        <div class="col mr-2">
        <div class="upload">
           <h2>Add Reading</h2>
           <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        
         <!-- <p><a href="{% url 'dashboard' %}">Return to home</a></p>-->
        
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}